extends layout

block content
  h1 Welcome to #{title}
  //- h1 Books
  
  .col-sm-5
  if user
    p Hello #{user}
      a(href= '/logout')Logout
  else
    p
      a(href= '/auth/linkedin')Login
  

  
            
  
