extends layout

block content
  h1 Welcome to #{title}
  //- h1 Books

  .col-sm-5
    a(href= '/books'): h2.index Books
    a(href= '/books'): img.books(src= 'http://assets.feministing.com/wp-content/uploads/2016/01/books.jpg')

  .col-sm-5
    a(href= '/authors'): h2.index Authors
    a(href= '/authors'): img.books(src='http://www.famousauthors.org/famous-authors.jpg')
