extends ../layout

block content

  .col-md-2.col-sm-2.col-xs-4.sidebar
    .col-md-12.col-sm-12.col-xs-12
      p.content
        a(href= '/books/new'): h3.index Add a Book
        a(href= '/books/new'): img.book(src= 'http://assets.feministing.com/wp-content/uploads/2016/01/books.jpg') 
    .col-md-12.col-sm-12.col-xs-12
      p
        a(href= '/authors/new'): h3.index Add an Author
        a(href= '/authors/new'): img.book(src='http://www.famousauthors.org/famous-authors.jpg')

  table.col-md-9.col-sm-9.col-xs-4.col-sm-offset-1.panel
    tbody
      for author in allAuthors
        tr
          td(rowspan= 3): img.author(src= author.portrait)
          td
          td: h3.title= author.fname + " " + author.lname
          td: a(href= '/authors/edit/' + author.aid).glyphicon.glyphicon-edit
          td: a(href= 'authors/remove/' + author.aid).glyphicon.glyphicon-remove
        tr
          td= author.title
        tr
          td(colspan= 3)= author.biography
