extends ../layout

block content
  h1 Add a new author
  
  form(action='/authors', method='post')
    #container
      .col-sm-5
        p author's name:
        input(type="text" name="fname" placeholder="first")
        input(type="text" name="lname" placeholder="last")
        
        p author's picture url:
        input(type="text" name="portrait")
        
        p author's bio:
        textarea(name="biography")
      
      .col-sm-5
        p book:
        input(type="text" name="title")
        
        p genre:
        input(type="text" name="genre")
        
        P book cover:
        input(type="text" name="cover")
        
        P book description:
        textarea(name="description")
        
        p 
        input(type="submit")
