extends ../layout

block content
  h1 Add a new author
  
  form(action='/authors', method='post')
    #container
      p author's first name:
      input(type="text" name="fname")
      
      p author's last name:
      input(type="text" name="lname")
      
      p book:
      input(type="text" name="title")
      
      p author's picture url:
      input(type="text" name="portrait")
      
      p author's bio:
      textarea(name="biography")
      
      p 
      input(type="submit")
