extends ../layout

block content
  h1 Add a new author
  
  form(action='/authors', method='post')
    #container
    .col-sm-4
      .form-group
        label Author's name:
        p
        input(type="text" name="fname" placeholder="first")
        input(type="text" name="lname" placeholder="last")
      .form-group  
        label Author's picture url:
        input.form-control(type="text" name="portrait")
      .form-group  
        label Author's bio:
        textarea.form-control(name="biography")
      .form-group
        label book:
        input.form-control(type="text" name="title")      
      .form-group
      button.btn.btn-default.btn-warning.col-xs-6(type='submit') Submit
