extends ../layout

block content
  .row
    .col-sm-4
      img.books(src= theAuthor.portrait)
    .col-sm-6
    h1= theAuthor.fname + " " + theAuthor.lname
    h3= theAuthor.title
    p= theAuthor.description
    
    p
    form(action="/authors" + theAuthor.aid + "?_method=delete", method="post")
      input(type="submit" value="delete")
